.section-contact-us {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
  /* background-color: #fff; */
}

.contact-title {
  z-index: 22666;
  position: relative;
  margin-top: 10px;
}

.form-contact {
  margin-top: 100px;
  position: relative;
  max-width: 85%;
}

.form-contact label {
  display: block;
}

.form-contact input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: #fafafa !important;
  outline: none !important;
}

.form-contact textarea {
  width: 100%;
  border-radius: 5px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
  color: #fff;
  background-color: rgb(190, 41, 41) !important;
}

.form-contact input:focus,
textarea:focus {
  background-color: #dbd6d1 !important;
}

/* End Section Contact Us */

/* Start About Contact Us */
.about-us-contact,
.widget-contact {
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 40px;
  position: relative;
}

.about-title-contact {
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.text-widget {
  width: 100%;
}

.textwidget li {
  padding: 6px 0 7px 0;
}

.textwidget li a {
  color: #fff;
  z-index: 22;
}

/* End About Contact Us */


.blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 7%;
  background-color: #000;
  opacity: .7;
  border-radius: 5px;
}

.main-form {
  z-index: 222;
}

.main-about {
  z-index: 222;
}

@media (max-width:1068px) {
  .form-contact {
    max-width: 100% !important;
  }

  .blur {
    width: 100%;
  }
}

